[submodule "ftcandroidlibrary"]
	path = ftcandroidlibrary
	url = http://github.com/lasarobotics/ftcandroidlibrary
[submodule "ftcvision"]
	path = ftcvision
	url = https://github.com/lasarobotics/FTCVision.git
